<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>菜单设置</title>
		<script src="../../js/public/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../../js/public/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/public/public.css" />
		<script src="../../js/public/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/public/config.js" type="text/javascript" charset="utf-8"></script>

		<script src="../../js/public/md5.js" type="text/javascript" charset="utf-8"></script>

		<script src="../../js/public/xm-select/xm-select.js"></script>
		<style>
			.layui-form-select dl {
		        z-index: 100;
		    }
		    .layui-table-box {
		        overflow: visible
		    }
		    .layui-table-body{
		        overflow:visible;
		    }
			.label-content{
				width: 90%;
				overflow: hidden;
			} 
			.layui-table-page {
				overflow-x: auto;
			}
			.layui-input-block {
				margin-left: 100px;
			}
	</style>
	</head>
	<body>

		<div class="layui-fluid">
			<div style="color: red;">注意：添加或更新菜单后，需要在用户设置页面配置权限</div>
			<div class="layui-row">
				<div class="layui-col-md12 layui-col-xs12 layui-card myBorder">
					<form class="layui-form layui-field-box mt15" lay-filter="myform">
						<div class="layui-form-item">
							<label class="layui-form-label label">菜单名：</label>
							<div class="layui-input-block" >
								<input type="text" autocomplete="off" placeholder="请输入菜单名" class="layui-input" id="inp1" lay-verify="required"
								 name="title">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label label">父菜单：</label>
							<div class="layui-input-block">
								<div id="xm-power" class="xm-select-demo"></div>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label label">相对地址：</label>
							<div class="layui-input-block">
								<input type="password" placeholder="顶级菜单不需要填" autocomplete="off" class="layui-input" id="inp2" 
								 name="url">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label label">图标：</label>
							<div class="layui-input-block">
								<input type="text" autocomplete="off" placeholder="顶级菜单不需要填" class="layui-input"  name="icon">
							</div>
						</div>
						

						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn text-right bt1" lay-submit lay-filter="su">添加</button>
								<button class="layui-btn text-right bt1" type="reset">清空</button>
							</div>
						</div>
					</form>
				</div>
			</div>


			<div class="bg-white">
				<table lay-filter="demo" id="myTable">

				</table>
			</div>

<div class="myFoot">广东小冰火人网络科技有限公司 版权所有</div>

		</div>
	</body>

	<script src="../../js/user/menu_set.js" type="text/javascript" charset="utf-8"></script>

</html>
