<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>商品分析</title>
		<link rel="stylesheet" type="text/css" href="../../layuiadmin/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/public/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../js/public/element-ui/index.css" />

		<link rel="stylesheet" type="text/css" href="../../css/public/zjl_public.css" />
		<link rel="stylesheet" type="text/css" href="../../css/sell/comprehensive.css" />

		<link rel="stylesheet" type="text/css" href="../../css/public/public.css" />
		<link rel="stylesheet" type="text/css" href="../../css/public/layui_me.css" />

		<script src="../../js/public/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../layuiadmin/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/public/config.js" type="text/javascript" charset="utf-8"></script>

		<script src="../../js/public/xm-select/xm-select.js" type="text/javascript" charset="utf-8"></script>

		<!-- 日期有关 -->
		<script src="../../js/public/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/public/element-ui/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/public/moment-with-locales.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/public/publicDataHandle.js" type="text/javascript" charset="utf-8"></script>

		<!-- echarts -->
		<script src="../../js/public/echarts/echarts.js" type="text/javascript" charset="utf-8"></script>

		<!-- 折线图 -->
		<script src="../../js/public/echarts/polygonal.js" type="text/javascript" charset="utf-8"></script>

		<style type="text/css">
			.layui-col-xs6 .layui-form-select dl {
				right: 0;
				left: auto;
			}

			xm-select>.xm-body .xm-option-content {
				overflow: inherit;
			}
		</style>
	</head>
	<body class="conbody">

		<div id="vue">

			<div class="layui-row fixedTitle">
				<i class="tao-header-icon iconfont icon_nav_allAnalysis"></i> <span class="tao-header-name">商品分析</span>

				<div class="layui-row bg-white  layui-col-space10" style="padding: 0 15px;">
					<div class="layui-col-md1" style="width: 300px;">
						<label class="layui-form-label">日期区间：</label>
						<div class="dateAll floatLeft">
							<div class="dateArea">
								<span class="word wordClick" data-type="date" v-on:click="selectLis('daterange', 1)">日</span>
								<span class="word" data-type="week" v-on:click="selectLis('week', 7)">周</span>
								<span class="word" data-type="month" v-on:click="selectLis('monthrange', 31)">月</span>
								<div class="clear"></div>
							</div>
							<div class="datePicker" id="datePicker1">
								<el-date-picker :picker-options="pickOption" popper-class="aaa" v-model="daterange" class="dateInput" type="daterange"
								 value-format="yyyy-MM-dd" format="yyyy-MM-dd" placeholder="选择日期" v-on:change="dateClick($event)" style="width: 70px;height: 0;">
								</el-date-picker>
								<!-- 	<el-date-picker :picker-options="pickOption" id="el-week" popper-class="aaa" v-model="dateValue" class="dateInput"
								 type="week" value-format="yyyy-MM-dd" format="yyyy-MM-dd" placeholder="选择日期" v-on:change="dateClick($event)"
								 style="width: 70px;height: 0;"> -->
								<el-date-picker :picker-options="pickOption" id="el-week" popper-class="aaa" v-model="dateValue" class="dateInput"
								 type="daterange" value-format="yyyy-MM-dd" format="yyyy-MM-dd" placeholder="选择日期" v-on:change="dateClick($event)"
								 style="width: 70px;height: 0;">
								</el-date-picker>
								<el-date-picker :picker-options="pickOptionMonth" id="el-monthrange" popper-class="aaa" v-model="monthrange"
								 class="dateInput" type="monthrange" value-format="yyyy-MM-dd" format="yyyy-MM-dd" placeholder="选择日期"
								 v-on:change="dateClick($event)" style="width: 70px;height: 0;">
								</el-date-picker>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					
					<div class="layui-col-md1 layui-col-xs12" style="width: 250px;">
						<div class="selectShow floatLeft">
							<span class="iconfont calendar icon_calendar_icon"></span>
							<span class="calendar-msg">{{ selectDateShow }}</span>
						</div>
					</div>


					<div class="layui-col-md2 layui-col-xs6">
						<label class="layui-form-label">商品1：</label>
						<div class="layui-input-inline layui-col-xs8">
							<div id="xm-goods1" class="xm-select-demo"></div>
						</div>
					</div>
					<div class="layui-col-md2 layui-col-xs6">
						<label class="layui-form-label">商品2：</label>
						<div class="layui-input-inline layui-col-xs8">
							<div id="xm-goods2" class="xm-select-demo"></div>
						</div>
					</div>
					<div class="layui-col-md2 layui-col-xs6">
						<label class="layui-form-label">商品3：</label>
						<div class="layui-input-inline  layui-col-xs8">
							<div id="xm-goods3" class="xm-select-demo"></div>
						</div>
					</div>


				</div>

				<div class="titleIcon" @click="clickTitleIcon">
					<i class="layui-icon layui-icon-up"></i>
				</div>
			</div>

			<div class="layui-fluid">

				<div class="layui-row">
					<div class="layui-col-md12">
						<div class="layui-card myBorder divPad">

							<div class="layui-row layui-col-space15">
								<div class="layui-col-md3 layui-col-xs6">
									<span class="myTitle">商品趋势</span>
								</div>

								<div class="layui-col-md3 layui-col-md-offset6 layui-col-xs12">
									<div class="layui-form floatRight">
										<div class="layui-input-inline">
											<span @mouseenter="tipsShow()" @mouseleave="tipsHide()" style="cursor: pointer;">
												<span class="layui-icon layui-icon-tips" style="color: red;font-weight: bold;"></span> 分时对比：
											</span>

											<div style="position: absolute;display: none;padding: 5px;z-index: 3000;width: 230px;top:30px" class="myBorder bg-white"
											 id="tips">
												对比相同间隔，不同时间段所选指标的趋势；点击是，选择你想对比时间段的最后一天(时间类型日、周)或月(时间类型月)
											</div>

											<div class="datePicker" id="datePicker2">
												<el-date-picker :picker-options="pickOption" popper-class="aaa" class="dateInput" value-format="yyyy-MM-dd"
												 format="yyyy-MM-dd" v-on:change="dateClick2($event)" v-model="daterange2" type="date" placeholder="选择日期"
												 id="d1" style="width: 0px;height: 0;">
												</el-date-picker>
												<el-date-picker :picker-options="pickOption" popper-class="aaa" class="dateInput" value-format="yyyy-MM-dd"
												 format="yyyy-MM-dd" v-on:change="dateClick2($event)" v-model="dateValue2" type="date" placeholder="选择日期"
												 id="d2" style="width: 0px;height: 0;">
												</el-date-picker>
												<el-date-picker :picker-options="pickOptionMonth" popper-class="aaa" class="dateInput" value-format="yyyy-MM-dd"
												 format="yyyy-MM-dd" v-on:change="dateClick2($event)" v-model="monthrange2" type="month" placeholder="选择日期"
												 id="d3" style="width: 0px;height: 0;">
												</el-date-picker>
												<div class="clear"></div>
											</div>

										</div>
										<div class="layui-input-inline">
											<input type="radio" name="time" value="no" title="否" checked lay-filter="ra-time">
											<input type="radio" name="time" value="yes" title="是" lay-filter="ra-time">
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="layui-col-md12">
						<div class="layui-card layui-row" style="border-right: 1px solid #CCCCCC;">
							<div class="layui-col-md3 layui-col-xs6 myBorderHeZi selectHezi" data="payment_amt">
								<div class="heZiText">支付金额(元)</div>
								<div class="heZiNumber" v-for="(i,d) in payment_amt">
									商品{{i.prd + 1}}:{{i.data}}
								</div>
							</div>
							<div class="layui-col-md3 layui-col-xs6  myBorderHeZi" data="payment_qty">
								<div class="heZiText">支付件数(件)</div>
								<div class="heZiNumber" v-for="(i,d) in payment_qty">
									商品{{i.prd + 1}}:{{i.data}}
								</div>
							</div>
							<div class="layui-col-md3 layui-col-xs6  myBorderHeZi" data="visitors">
								<div class="heZiText">访客数(人)</div>
								<div class="heZiNumber" v-for="(i,d) in visitors">
									商品{{i.prd + 1}}:{{i.data}}
								</div>
							</div>
							<div class="layui-col-md3 layui-col-xs6  myBorderHeZi" data="shopping_cart">
								<div class="heZiText">加购人数(人)</div>
								<div class="heZiNumber" v-for="(i,d) in shopping_cart">
									商品{{i.prd + 1}}:{{i.data}}
								</div>
							</div>
							<div class="layui-col-md3 layui-col-xs6  myBorderHeZi" data="payment_collect_qty">
								<div class="heZiText">支付买家数(人)</div>
								<div class="heZiNumber" v-for="(i,d) in payment_collect_qty">
									商品{{i.prd + 1}}:{{i.data}}
								</div>
							</div>
							<div class="layui-col-md3 layui-col-xs6  myBorderHeZi" data="pay_conversion_rate">
								<div class="heZiText">支付转化率(%)</div>
								<div class="heZiNumber" v-for="(i,d) in pay_conversion_rate">
									商品{{i.prd + 1}}:{{i.data}}
								</div>
							</div>
							<div class="layui-col-md3 layui-col-xs6  myBorderHeZi" data="customer_price">
								<div class="heZiText">客单价(元)</div>
								<div class="heZiNumber" v-for="(i,d) in customer_price">
									商品{{i.prd + 1}}:{{i.data}}
								</div>
							</div>
							<div class="layui-col-md3 layui-col-xs6  myBorderHeZi" data="unit_price">
								<div class="heZiText">件单价(元)</div>
								<div class="heZiNumber" v-for="(i,d) in unit_price">
									商品{{i.prd + 1}}:{{i.data}}
								</div>
							</div>
						</div>
					</div>
					<div class="layui-col-md12">
						<div class="layui-card myBorder" style="border-top: 0;">
							<div class="echarts_div layim-hide tips">
								<div style="margin:auto;width: 100px;position: absolute;left: 0;right: 0;top:50px;">
									<img src="../../img/no.png" style="width: 100%;" />
									<div style="text-align: center;">请先选择商品</div>
								</div>
							</div>

							<div class="echarts_div" id="echart_sellTrend"></div>
						</div>
					</div>

				</div>

			</div>

<div class="myFoot">广东小冰火人网络科技有限公司 版权所有</div>

		</div>
	</body>


	<script src="../../js/sell/goods_analysis.js" type="text/javascript" charset="utf-8"></script>

	<!-- <script src="../../js/sell/goods_analysis_en.js" type="text/javascript" charset="utf-8"></script> -->

</html>
